[Unit]
Deiscription=Start influxdb and api's for auth, sensors and door with Docker Compose Application Service
Requires=docker.service
After=docker.service

[Service]
WorkingDirectory=/home/opc/git/api/docker/
ExecStart=/usr/local/bin/docker-compose up
ExecStop=/usr/local/bin/docker-compose down
TimeoutStartSec=0
Restart=on-failure
StartLimitIntervalSec=60
StartLimitBurst=3

[Install]
WantedBy=multi-user.target
