[Unit]
Description=Gunicorn served sensor api
After=auth-api.service

#https://www.digitalocean.com/community/tutorials/how-to-serve-flask-applications-with-gunicorn-and-nginx-on-ubuntu-18-04

[Service]
User=marcus
Group=www-data
WorkingDirectory=/home/marcus/git/api/python
ExecStart=/usr/local/bin/gunicorn --workers 3 --bind localhost:5003 -m 007 sensor_views:app

[Install]
WantedBy=multi-user.target
